*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Montserrat", sans-serif;


}

html,body{
    height:  100%;
    width: 100%;
  
}


#cursor{
    height: 25px;
    width:25px;
    border-radius: 50%;
    background-color: #95c11e;
    position: fixed;
    z-index: 99;
}

#cursor-blur{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #bafd02;
    position: fixed;
    filter: blur(140px);
    z-index: 9;
}

#nav{
    z-index: 1;
    position: fixed;
    height: 145px;
    width: 100%;
    display: flex;/*elements come in same line*/
    align-items: center;
    padding: 0 150px;
    gap: 50px;
    justify-content:flex-start;

}
#nav img{
    height: 70px;
}

#nav h4{
    text-transform: uppercase;
    font-weight: 800;
    font-size: medium;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
    
}

#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
}

#page1{
    position: relative;
    height: 100vh;/*% means from parent*/
    width: 100%;/* viewport height  */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 10;
}




#page1 h1{
    font-size: 142px;
    font-weight: 900;
    position: relative;
}

#page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: #000;
    top: -3px;
    left: -3px;
    -webkit-text-stroke: 2px #95c11e;
    z-index: -1;
   
}
#page1 h2{
    font-size: 31px;
    font-weight: 880;
    margin: 10px 0 20px 0;
}
#page1 p{
    font-size: 21px;
    font-weight: 500;
    width: 40%;
    width: fit-content;
    z-index: 10;

}





#page2{
    height: 100vh;
    width: 100%;
}

#scroller{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden ;
    position: relative;
    z-index: 10;

    
}

#scroller::-webkit-scrollbar{

    display: none;

}




#scroller-in{
    display:inline-block;
    white-space: nowrap;
    animation: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes scroll {

    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(-100%)
    }
    
}
#scroller h4{
    display: inline-block;
    font-size: 120px;
    font-weight: 900;
    font-family: gilroy;
    -webkit-text-stroke: 2px #95c11e;
    color: transparent;
    margin-right: 20px;
    transition: all linear 0.5;
}

#scroller h4:hover{
    color: #95c11e;
    transition-duration: .5s;
}


#about-us{
    
    padding: 0 50px;
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#about-us img{
    height: 210px;
    width: 220px;
    border-radius: 20px;
    object-fit: center;

}
#about-us-content{
    width: 45%;
    text-align: center;
}
#about-us-content h3{
    font-size: 60px;
    font-weight: 800px;
    margin-bottom: 45px;


}
#about-us-content p{
    font-size: 22px;
    line-height: 26px;    
}

#cards-container{
    background-color: black;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 70px;
    position: relative;
    z-index: 10;

}

.cards{
    height: 70%;
    width: 22%;
    background-color: blue;
    border-radius: 20px;
    background-size: cover ;
    background-repeat: no-repeat;
    transition: all .5s;
    overflow: hidden;
}

#card1{
    background-image: url("./Assests/card1.avif");
}

#card1:hover{


}


#card2{
    background-image: url("./Assests/card2.webp");
}

#card1:hover{


}

#card3{
    background-image: url("./Assests/card3.avif");
}

#card1:hover{


}
                
.overlay{
    height: 100%;
    width: 100%;
    background-color: #95c11e;
    padding-top: 40px;
    padding-left: 20px;
    opacity: 0;
    transition: all 0.5s;
    border-radius: 20px;
}

.cards:hover .overlay{
    opacity: 1;
}

.cards:hover{
    transform: rotate3d(-1,1,0,10deg);


}

/* @keyframes cardAni {
    from{
        transform: rotate3d(0,0,0,0deg);
    }
    to{
        transform: rotate3d(1,-1,0,20deg);
    }
    
}
.cards:hover{
    animation: cardAni ;
    animation-duration: 2sec;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
} */


.overlay h4{
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 800;
    margin-bottom: 20px;
}

.overlay p{
    color:#000;
    font-size: 14px;.overlay h4{
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 800;
    margin-bottom: 20px;
}

.overlay p:hover{
    color:#000;
    font-size: 14px;

}

}

#green-div{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: red;
    background: linear-gradient(to left bottom , #15a13a,#a2dc23) ;
  

}

#green-div h4{
    width: 45%;
    font-size: 27px;
    text-transform: uppercase;
    text-align: center;
    color: #000;

}

#green-div img{

    height:100%;
    object-fit: cover;
    width: 14%;
}


#page3{
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page3>p{
    font-size: 30px;
    font-weight: 700;
    width: 45%;
}